Source: dbsync
Section: misc
Priority: optional
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Marko Seidenglanz <marko.seidenglanz@gmail.com>
Build-Depends: debhelper (>= 10),
               dh-golang,
               golang-any,
               golang-github-denisenkom-go-mssqldb-dev,
               golang-github-go-sql-driver-mysql-dev,
               golang-pq-dev
Standards-Version: 4.1.1
Homepage: https://github.com/ridaayed/dbsync
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-go/packages/dbsync.git
Vcs-Git: https://anonscm.debian.org/git/pkg-go/packages/dbsync.git
XS-Go-Import-Path: github.com/ridaayed/dbsync,https://github.com/wunderlist/ttlcache
Testsuite: autopkgtest-pkg-go

Package: dbsync
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: This tool can be used to export all transactions on contacts either to a database or to a web service.
